timebutton, .timebutton {
    border-radius: 50%;
    font-size: 12px;
    padding: 5px;
}
timelabel, .timelabel {
    font-size: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
redtimelabel, .redtimelabel {
    font-size: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: red;
}

timewidget1, .timewidget1 {}
timewidget2, .timewidget2 {
    font-size: 12px;
}

boxinfo, .boxinfo {}
boxprogramer, .boxprogramer{}

confpanel, .confpanel {}
conf_btn_label, .conf_btn_label{
  font-weight: bold;
  font-size: large;
}
conf_btn_reset, .conf_btn_reset {
  border: 0px solid white;
}
conf_btn_text, .conf_btn_text{}
conf_btn_entry, .conf_btn_entry{
  background-color: white;
}
conf_btn_types, .conf_btn_types{}
