[Desktop Entry]
Name=Shutdown Scheduler
GenericName=Shutdown Scheduler App
Categories=GTK;Utility;
Exec=com.github.bcedu.shutdownscheduler
Icon=applications-system
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=ShutdownScheduler
Keywords=ShutdownScheduler;
X-GNOME-UsesNotifications=true
Comment=Choose when to shutdown your computer
