[Desktop Entry]
Name=ShutdownSheduler
GenericName=ShutdownSheduler App
Categories=GTK;Utility;
Exec=com.github.bcedu.shutdown_sheduler
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=ShutdownSheduler
Keywords=ShutdownSheduler;
X-GNOME-UsesNotifications=true
