[Desktop Entry]
Name[ca]=Shutdown Scheduler
Name[en_AU]=Shutdown Scheduler
Name[en_CA]=Shutdown Scheduler
Name[en_GB]=Shutdown Scheduler
Name[fr]=Planificateur d'arrêt
Name=Shutdown Scheduler
GenericName[ca]=Shutdown Scheduler App
GenericName[en_AU]=Shutdown Scheduler App
GenericName[en_CA]=Shutdown Scheduler App
GenericName[en_GB]=Shutdown Scheduler App
GenericName[fr]=Application planificateur d'arrêt
GenericName=Shutdown Scheduler App
Categories=GTK;Utility;
Exec=com.github.bcedu.shutdownscheduler
Icon[ca]=com.github.bcedu.shutdownscheduler
Icon[en_AU]=com.github.bcedu.shutdownscheduler
Icon[en_CA]=com.github.bcedu.shutdownscheduler
Icon[en_GB]=com.github.bcedu.shutdownscheduler
Icon[fr]=com.github.bcedu.shutdownscheduler
Icon=com.github.bcedu.shutdownscheduler
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=ShutdownScheduler
Keywords[ca]=ShutdownScheduler;
Keywords[en_AU]=ShutdownScheduler;
Keywords[en_CA]=ShutdownScheduler;
Keywords[en_GB]=ShutdownScheduler;
Keywords[fr]=Planificateur d'arrêt;
Keywords=ShutdownScheduler;
X-GNOME-UsesNotifications=true
Comment[ca]=Escull quan vols apagar el teu ordinador
Comment[en_AU]=Choose when to shutdown your computer
Comment[en_CA]=Choose when to shutdown your computer
Comment[en_GB]=Choose when to shutdown your computer
Comment[fr]=Choisissez quand éteindre votre ordinateur
Comment=Choose when to shutdown your computer
